<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-5">
      <div id="localWaiter" class="local-waiter <% if (!waiter) { %>gm-hidden<% } %>">
        <div class="local-waiter-field">
          <div class="local-waiter-el">
            <img src="img/upload.gif" alt="" class="local-waiter-img">
          </div>
        </div>
      </div>

      <% if (step == 1) { %>
      <span class="help-block">Для изменения пароля на новый, введите Логин или E-mail в поле ниже</span>
      <% } %>

      <% if (step == 3) { %>
      <span class="help-block">Ваш логин</span>
      <% } %>

      <div class="form-group">
        <input class="form-control" id="loginOrEmail" placeholder="Логин или E-mail" type="text" value="<%- login %>"
        <%= (step !== 1) ? 'disabled' : '' %>>
      </div>

      <% if (step == 3) { %>
      <span class="help-block">Введите новый пароль</span>

      <div class="form-group">
        <input class="form-control" id="changePass" placeholder="Желаемый пароль" type="text" value="<%- changePass %>"
        <%= (step !== 3) ? 'disabled' : '' %>>
      </div>

      <span class="help-block">Введите новый пароль еще раз</span>

      <div class="form-group">
        <input class="form-control" id="confirmChangePass" placeholder="пароль еще раз" type="text"
               value="<%- confirmChangePass %>" <%= (step !== 3) ? 'disabled' : '' %>>
      </div>
      <% } %>

      <% if (step === 1 || step === 3) { %>
      <button id="submitButton" type="submit" class="btn btn-info">Восстановление пароля</button>
      <% } %>

      <% if (step === 4) { %>
      <a class="btn btn-default btn-block" href="#" role="button">На страницу логина</a>
      <% } %>
    </div>
  </div>
</div>