<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group">
        <label for="login">Ник</label>
        <input class="form-control" id="login" placeholder="Введите желаемый логин" type="text" value="<%- login %>" <%=
        (step !== 1) ? 'disabled' : '' %>>
      </div>

      <div class="form-group">
        <label for="login">Имя</label>
        <input class="form-control" id="name" placeholder="Введите ваше имя" type="text" value="<%- name %>" <%= (step
        !== 1) ? 'disabled' : '' %>>
        <span class="help-block">(поле не обязательное для ввода)</span>
      </div>

      <div class="form-group">
        <label for="password">Электронная почта</label>
        <input class="form-control" id="email" placeholder="Введите E-email" type="text" value="<%- email %>" <%= (step
        !== 1) ? 'disabled' : '' %>>
      </div>

      <div class="form-group <%= (step !== 3) ? 'gm-hidden' : '' %>">
        <label for="password">Пароль</label>
        <input class="form-control" id="password" placeholder="Введите пароль" type="password" value="<%- password %>">
      </div>

      <div class="form-group <%= (step !== 3) ? 'gm-hidden' : '' %>">
        <label for="password">Повтор пароля</label>
        <input class="form-control" id="repetPassword" placeholder="Введите пароль" type="password"
               value="<%- repetPassword %>">
      </div>

      <% if (step !== 2) { %>
      <button id="submitButton" type="submit" class="btn btn-info">Зарегистрироваться</button>
      <% } %>
    </div>
  </div>
</div>