<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="row">
        <div class="col-sm-11 gm-vertical-margin-row">
          <input type="text" class="form-control" id="newTodo" placeholder="Введите заметку" autofocus>
        </div>

        <div class="col-sm-5 gm-vertical-margin-row">
          <button id="butAddTodo" type="submit" class="btn btn-info gm-full-width">Сохранить</button>
        </div>
      </div>

      <ul id="todoList" class="list-group"></ul>

      <div id="explanatoryInformation" class="gm-hidden">
        Вы можете создавать заметки, <br>
        редактировать их (двойной клик на заметке), <br>
        изменять состояние заметки (выполнена или нет) и <br>
        удалять заметки.
      </div>
    </div>
  </div>
</div>