<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div id="simpleAlert"></div>

      <div class="row">
        <div class="col-sm-11 gm-vertical-margin-row">
          <input type="text" class="form-control" id="newTodo" placeholder="Введите заметку" autofocus>
        </div>

        <div class="col-sm-5 gm-vertical-margin-row">
          <button id="butAddTodo" type="submit" class="btn btn-info gm-full-width">Сохранить</button>
        </div>
      </div>

      <ul id="todoList" class="list-group"></ul>

      <p>
        И песенка:
        <audio controls class="gm-full-width">
          <source src="music/track01.mp3" type="audio/mpeg">
          Ваш браузер не поддерживает аудио элемент.
        </audio>
      </p>

    </div>
  </div>
</div>