<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="row">
        <div class="col-sm-11 gm-vertical-margin-row">
          <input type="text" class="form-control" id="newTodo" placeholder="Введите заметку" autofocus>
        </div>

        <div class="col-sm-5 gm-vertical-margin-row">
          <button id="butAddTodo" type="submit" class="btn btn-info gm-full-width">Сохранить</button>
        </div>
      </div>

      <!--<div class="checkbox">-->
      <!--<label>-->
      <!--<input id="toggleAll" type="checkbox">Пометить все как завершенные-->
      <!--</label>-->
      <!--</div>-->

      <ul id="todoList" class="list-group"></ul>
    </div>
  </div>
</div>