<div class="container">
  <div class="page-header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Simple Notes</span>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Какая то ссылка</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Здравствуйте, <%- name %>.</a></li>
          <li><a href="#" id="logoutLink">Выйти</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
