<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="simpleAlert"></div>

      <div class="row">
        <div class="col-sm-8 vertical-margin-row">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Введите заметку">
        </div>

        <div class="col-sm-4 vertical-margin-row">
          <button type="submit" class="btn btn-info full-width">Сохранить</button>
        </div>
      </div>

      <ul id="todoList" class="list-group"></ul>

      <h2>Балалайка!!!</h2>
      <p>
        И песенка:
        <audio controls>
          <source src="sound/oleg_kenzov_-_seks_s_nastojashchim_chelovekom.mp3" type="audio/mpeg">
          Ваш браузер не поддерживает аудио элемент.
        </audio>
      </p>

    </div>
  </div>
</div>