<div class="access">
  <h2>Войти</h2>
  <div class="access__form" action="" method="post" id="loginForm" novalidate="novalidate">
    <div class="access__form__text">
      <label for="access__login">
        Ник<br />
        <span class="access__form__text--small">или</span><br />
        E-mail
      </label>
    </div>
    <input type="text" class="access__form__login" id="access__login" name="access__login" value="<%= login %>" />
    <div>тестовый логин: "aaa" (английскими)</div>
    <div class="access__form__text">
      <label for="access__password">
        Пароль
      </label>
    </div>
    <input type="password" class="access__form__password" id="access__password" name="access__password" value="<%= password %>" />
    <div>тестовый пароль: "123"</div>
    <div class="access__form__text">
      <input type="checkbox"/> Запомнить меня
    </div>
    <button type="button" class="access__form__button" id="access__submitButton">Войти</button>
    <div class="access__text">
      <a href="#remember" class="access__form__forgot">Забыли пароль?</a>
      <a href="#new" class="access__form__reg">Регистрация</a>
    </div>
  </div>
</div>